@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-black: #000;
  --color-green: #B1FF33;
  --color-red: #A20021;
  --color-gray: #BDBEC0;
}

@utility flex-center {
  @apply flex justify-center items-center;
}
@utility dark-input {
  @apply bg-black/75 text-white placeholder:text-white;
}
@utility light-input {
  @apply bg-gray-200/85 text-black/95 placeholder:text-black/95;
}
@utility test-button {
  @apply bg-green-200/90 text-2xl px-9 py-2 rounded-lg border-[2px] border-black/15 cursor-pointer
}