@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-black: #000;
  --color-grey-5: #161616;
  --color-grey-10: #191919;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-30: #4C4C4D;
  --color-grey-35: #59595A;
  --color-grey-40: #656567;
  --color-grey-60: #98989A;
  --color-grey-90: #E6E6E6;
}

@utility flex-center {
  @apply flex justify-center items-center;
}